Start zOS
Start linux on vm
start node-red on command prompt on windows (http://127.0.0.1:1880/)
once linux started, gitlab starts automatically and you can verify using http://192.168.1.24
start rundeck on linux sudo service rundeckd start verify ( http://192.168.1.24:4440/user/login)
