# Startup instructions of softwares
---

1. Start zOS
2. Start linux on vm
3. start node-red on command prompt on windows (http://127.0.0.1:1880/)
4. once linux started, gitlab starts automatically and you can verify using http://192.168.1.24
5. start rundeck on linux sudo service rundeckd start verify ( http://192.168.1.24:4440/user/login)
