//UMOD JOB REGION=0M
//SMPE EXEC,PGM=GIMSMP
//SMPCSI DD DSN={{ smpe_global_dsn }},DISP=SHR
//SMPHOLD DD DUMMY
//SMPPTFIN DD DATA,DLM=@@
++USERMOD (TCPMD01).
++VER (Z038) FMID (HIP61A0).
++MOD(EZAFTPLC) LKLIB(SEZALOAD).
++JCLIN.
//LINK0039 EXEC PGM=IEWBLINK,PARM=('OPTIONS
(GENOPTS)'),NAME=SEZALOAD
//GENOPTS DD *
RENT,REUS,AC=1,AMODE=31,RMODE=ANY,CASE(MIXED)
DYNAM(DLL),CALL
//SYSLMOD DD DSN=SEZALOAD
//SYSDEFSD DD DSN=SMPDUMMY
//SYSLIB DD DSN=SCEEOBJ
// DD DSN=SCEELKEX
// DD DSN=SCEELKED
// DD DSN=CSSLIB
// DD DSN=SEUVFLIB
//SYSLIN DD *
INCLUDE SIEASID(EUVFKDLL) TYPE=UTIN
INCLUDE SIEASID(EUVFKDLP) TYPE=UTIN
INCLUDE SGSKHFS(GSKAH011) TYPE=UTIN
INCLUDE SGSKHFS(GSKAH041) TYPE=UTIN
INCLUDE SEZALOAD(EZAFTPLC)
ORDER EZBOECPR
ORDER EZAFTPMG
ENTRY CEESTART
ALIAS FTP(CEESTART)
ALIAS Z062016
NAME EZAFTPLC(R)
@@
//SMPCNTL DD *
SET BDY(GLOBAL).
RECEIVE S(TCPMD01) LIST .
SET BDY({{ smpe_target_zone2 }}).
APPLY S(
TCPMD01
).
//
